<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Our Culture</title>
  <style>
    body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      background-color: #f9f9f9;
    }

    .container {
      max-width: 900px;
      margin: 100px auto 40px;
      padding: 20px;
      text-align: center;
    }

    h2 {
      color: rgb(255, 169, 8);
      margin-bottom: 20px;
    }

    p {
      color: #444;
      font-size: 1rem;
      line-height: 1.6;
    }

    
  </style>
</head>
<body>

  <div class="container">
    <h2>Our Culture</h2>
    <p>
      At Emmvee, we believe in a culture of collaboration, innovation, and integrity.
      Our team is dedicated to sustainability and excellence in solar solutions, while fostering
      a work environment that encourages learning, respect, and shared success.
    </p>
  </div>

</body>
</html>
