<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
        padding-top: 100px;
        min-hieght:80vh;
    }
        .footer {
        background-color: #222;
        color: white;
        padding: 20px;
        text-align: center;
        }
</style>

    
</head>
<body>
    {% include 'navbar.html'  %}
    <div class="content">
    
        {% block content %}

        {% endblock content %}

        

        
    </div>




    


</body>
</html>