<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
        padding-top: 100px;
        position: relative;
    }
        .footer {
        position: fixed;    
        bottom: 0;
        width: 100%;
        background-color: #222;
        }
</style>

    
</head>
<body>
    {% include 'navbar.html'  %}
    <div class="content">
    
        {% block content %}

        <h1>This is home page</h1>

        {% endblock content %}

        

        
    </div>
    <div class="footer">
        {% include "footer.html" %}
        
    </div>




    


</body>
</html>